# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.cproject
.project
.settings

# jetbrains
.idea

# Sublime
*.sublime*

# bazel
bazel-bin
bazel-elevation_mapping
bazel-out
bazel-testlogs